.title{
background:none!important;
}
.title:hover{
background:none!important;
}
.pointer{
	cursor:pointer;
}
.test{
	color:red;
}
.one{
	height:2em;
	font-size:18px;
}
.two{
	height:1.5em;
}
.three{
	
	height:1em;
}
.golbal-background-color{
	background:#00b185;
}